<ui5-select title="Legislation">
    <ui5-option>Option 1</ui5-option>
    <ui5-option>Option 2</ui5-option>
</ui5-select>


<ui5-select placeholder="Shop Item Type">
    <ui5-option>Option 1</ui5-option>
    <ui5-option>Option 2</ui5-option>
</ui5-select>

<ui5-select placeholder="Use Right">
    <ui5-option>Option 1</ui5-option>
    <ui5-option>Option 2</ui5-option>
</ui5-select>

<ui5-select placeholder="Purchasable">
    <ui5-option>Yes</ui5-option>
    <ui5-option>No</ui5-option>
</ui5-select>

<ui5-select placeholder="Status">
    <ui5-option>Active</ui5-option>
    <ui5-option>Inactive</ui5-option>
</ui5-select>
